
.modal-body{
	padding: 0px;
}
.details {
    margin-left: 30px;
}
.appstore {
  width: 10em;
  padding-left: 0.5em;
  padding-right: 0.5em;
}
.playstore {
  width: 10em;
}

.jumbotron-header h1{
	margin-top: 50px;
    margin-bottom: 20px;
}
.jumbotron-header p.sub{
    margin-bottom: 50px;
}

.ekko-lightbox-container img {
	max-height: 80vh;
	margin-right: auto;
	margin-left: auto;
}
.icon img {
	width: 250px;
	height: 250px;
	margin-top: 70px;
	margin-right: 40px;
}
.images {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.images .image {
  flex-basis: 180px;
}
.versions {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center
}
.versions .version {
  flex-basis: 180px;
}
.container.privacy {
  margin-top: 5em;
}
